.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1b1c25;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
}
.header__searchInput {
  height: 20px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px 0px 0px 5px;
}
.header__searchIcon {
  padding: 5px;
  height: 30px !important;
  background-color: #cd9042;
  border-radius: 0px 5px 5px 0px;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__optionLineOne {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.header__optionLineTwo {
  font-size: 15px;
  font-weight: 800;
}
.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
