.payment {
  background-color: white;
}

.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}

.payment__container > h1 a {
  text-decoration: none;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment__title {
  flex: 0.1;
}

.payment__address,
.payment__items,
.payment__details {
  margin-left: 20px;
  flex: 0.8;
}

.payment__details > form {
  max-width: 400px;
}
.payment__details > h3 {
  padding-bottom: 20px;
}

.payment__details > form > div > button {
  background: #f0c14b;
  border: 1px solid;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  color: #111;
  font-family: Arial, sans-serif;
  font-size: 13px !important;
  line-height: 25px !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  border-radius: 3px;
  width: 100%;
}
