.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__info {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 17px; */
}

.product__price {
  margin-top: 5px;
}
.product__rating {
  display: flex;
}
.product > button {
  background: #f0c14b;
  border: 1px solid;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  color: #111;
  font-family: Arial, sans-serif;
  font-size: 13px !important;
  line-height: 25px !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  border-radius: 3px;
  width: 100%;
}
